body {
  padding-left: 1rem;
  padding-right: 1rem;
}

.bg-black {
  background-color: #000 !important
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, .7)
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .1rem;
  font-weight: 700
}

section {
  position: relative;
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: white;
}
